{% extends 'blog/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html">Analisador de Carteira de ações</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
            <li class="nav-item"><a href="agent.html" class="nav-link">Agent</a></li>
            <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="properties.html" class="nav-link">Properties</a></li>
            <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->
    
    <div class="hero-wrap ftco-degree-bg" style="background-image: url('../../static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
          <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
            <div class="text text-center">
              <h1 class="mb-4" style="color: aqua;">O modo mais simples <br>de analisar sua carteira</h1>
              <p style="font-size: 20px; color: aqua">Preencha o campo abaixo com códigos de ação que fazem parte ou gostaria que fizesse parte de sua carteira. </p>
              <form action="javascript:funcao()" class="search-location mt-md-5">
                <div class="row justify-content-center">
                  <div class="col-lg-10 align-items-end">
                    <div class="form-group">
                      <div class="form-field">
                        <input type="text" id="acao" name="acao" class="form-control" placeholder="Exemplo: vale3, abev3, egie3, itsa3">
                        <button><span class="ion-ios-search"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>
    <div class="row">
      <div class="col-md-12 text-center">
    <div>
      <div id="img_home"></div>
      <div id="img_loading"></div>

      <h4>Referências:</h4>
      <a href="http://www.b3.com.br/pt_br/noticias/relacionamento.htm" target="_blank">b3</a><br>
      <a href="https://www.nobelprize.org/prizes/economic-sciences/1990/sharpe/lecture/" target="_blank">Teoria do indice Sharpe</a><br>
      <a href="https://www.nobelprize.org/prizes/economic-sciences/1990/markowitz/lecture/"target ="_blank">Teoria do portfólio moderno</a><br>
      <a href="https://www.udemy.com/python-para-financas-investimentos-analise-de-dados/" target="_blank"> Udemy - Python para Finanças</a><br><br>
      <!--img src="http://bcamera.pythonanywhere.com/post/1/teste/fronteira_eficiente"-->
    </div>

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>
<script>
    function funcao(){
        
        var img = new Image();
        var loading = new Image();
        img_home.innerHTML= "";
        //var downloadingImage = $("<img>");
        loading.src = "http://i.stack.imgur.com/FhHRx.gif";
        let acao = $('#acao').val(); 
        img.src ="http://bcamera.pythonanywhere.com/"+acao+"/fronteira_eficiente";
        if (img.complete || img.readyState === 4) {
          img_home.appendChild(img);   
         $('html, body').animate({
              scrollTop: parseInt($("#img_home").offset().top)
          }, 2000);      
          img_loading.innerHTML= "";         
        }
        else {
          img_loading.appendChild(loading); 
          $(img).on('load',function (response, status, xhr) {
            if (status == 'error') {
              console.log('erro');
              img_loading.innerHTML= "";
              img_home.innerHTML= "";
            }
            else {
              img_home.appendChild(img);
               $('html, body').animate({
                    scrollTop: parseInt($("#img_home").offset().top)
                }, 2000);                 
              img_loading.innerHTML= "";  
            }
        })
    }
  }
</script>
{% endblock %}
