{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <form action="javascript:funcao()">
            Digite o código das ações (pelo menos 2 separados por vírgula)
            Exemplo: petr4,vale3,abev3
            <br>
            <input type="text" name="acao" id="acao" value="">
            <button class="btn-primary">Calcular Carteira</button>
        </form>
        <!--img src="http://bcamera.pythonanywhere.com/post/1/teste/fronteira_eficiente"-->
        <div id="img_home"></div>
</div>
<script>
    function funcao(){
        let acao = document.getElementById('acao').value; 
        let img = new Image();
        img.src ="http://bcamera.pythonanywhere.com/post/1/"+acao+"/fronteira_eficiente";
        //window.location.href="http://bcamera.pythonanywhere.com/post/1/"+acao+"/fronteira_eficiente";
        img_home.appendChild(img);         
    }
</script>
{% endblock %}
