{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <h4>Referências:</h4>
        <a href="http://www.b3.com.br/pt_br/noticias/relacionamento.htm" target="_blank">b3</a><br>
        <a href="https://www.nobelprize.org/prizes/economic-sciences/1990/sharpe/lecture/" target="_blank">Teoria do indice Sharpe</a><br>
        <a href="https://www.nobelprize.org/prizes/economic-sciences/1990/markowitz/lecture/"target ="_blank">Teoria do portfólio moderno</a><br>
        <a href="https://www.udemy.com/python-para-financas-investimentos-analise-de-dados/" target="_blank"> Udemy - Python para Finanças</a><br><br>
        <form action="javascript:funcao()">
            Digite o código das ações que deseja calcular os pesos necessários para a melhor relação de risco x retorno para o seu perfil (pelo menos 2 separados por vírgula)
            Exemplo: petr4,vale3,abev3
            <br>
            <input type="text" name="acao" id="acao" value="">
            <button class="btn-primary">Calcular Carteira</button>
        </form>
        <!--img src="http://bcamera.pythonanywhere.com/post/1/teste/fronteira_eficiente"-->
        <div id="img_home"></div>
        <div id="img_loading"></div>
        <div class="modal"></div>
</div>
<script>
    function funcao(){
        
        var img = new Image();
        var loading = new Image();
        img_home.innerHTML= "";
        //var downloadingImage = $("<img>");
        loading.src = "http://i.stack.imgur.com/FhHRx.gif";
        let acao = $('#acao').val(); 
        img.src ="http://bcamera.pythonanywhere.com/post/1/"+acao+"/fronteira_eficiente";
        if (img.complete || img.readyState === 4) {
          img_home.appendChild(img);         
          img_loading.innerHTML= "";         
        }
        else {
          img_loading.appendChild(loading); 
          $(img).on('load',function (response, status, xhr) {
            if (status == 'error') {
              console.log('erro');
              img_loading.innerHTML= "";
              img_home.innerHTML= "";
            }
            else {
              img_home.appendChild(img);  
              img_loading.innerHTML= "";  
            }
        })
    }
  }
</script>
{% endblock %}
