{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        Digite o código das ações (pelo menos 2)
        <br>
        <input type="text" name="acao1" id="acao1" value="">
        <br>
        <input type="text" name="acao2" id="acao2" value="">
        <br>
        <input type="text" name="acao3" id="acao3" value="">
        <button class="btn-primary" onclick="funcao()">Calcular Carteira</button>
</div>
<script>
    function funcao(){
       acao = document.getElementById('acao').value;
       //alert(acao);
       window.location.href="http://bcamera.pythonanywhere.com/post/1/"+acao+"/teste";
    }
</script>
{% endblock %}
